<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaurkandokhov.signature" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="com.zaurkandokhov.signature.Splash"
            android:label="@string/app_name"
            android:taskAffinity="com.zaurkandokhov.signature"
            android:icon="@mipmap/ic_launcher_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zaurkandokhov.signature.Settings"
            android:label="@string/app_settings"
            android:taskAffinity="com.zaurkandokhov.settings"
            android:icon="@mipmap/ic_launcher_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zaurkandokhov.signature.Signature"
            android:label="@string/title_activity_signature"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name= "com.zaurkandokhov.signature.Login"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.zaurkandokhov.signature.Signup"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
